.main {
    display: grid;
    margin: 25px 5px 5px 5px;
}

.add_task {

    background: #fff;
    border-radius: 10px;
    margin: 5px 0 15px 0;
    width: fit-content;
    justify-self: center;
    overflow: hidden;
    padding: 5px 21px 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add_task p {
    margin-left: 5px;
}

.card {
    direction: rtl;
}

.success p {
    background: #6ab96a;
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
}

.failure p {
    background: red;
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
}