<div>

    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" style="display: grid;">

        <div class="personlInfo">
            <p>מלא פרטים על הלקוח</p>
            <label for="name">Name:</label>
            <input type="text" pInputText formControlName="Name" />
    
            <label for="phone">Phone:</label>
            <input type="text" pInputText formControlName="Phone" />
    
            <label for="gender">Gender:</label>
            <p-dropdown [options]="genders" formControlName="Gender" optionLabel="name" [showClear]=true placeholder="בחר מגדר"></p-dropdown>
    
        </div>
        <div class="card flex justify-content-center">
            
            <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
        </div>
        <label for="type">Type:</label>
        <input type="text" pInputText formControlName="Type" />
    
        <label for="count">Count:</label>
        <input type="text" pInputText formControlName="Count" />
    
        <label for="carSize">Car Size:</label>
        <input type="text" pInputText formControlName="CarSize" />
    
        <label for="origin">Origin:</label>
        <input type="text" pInputText formControlName="Origin" />
    
        <label for="destination">Destination:</label>
        <input type="text" pInputText formControlName="Destination" />
    
        <label for="date">Date:</label>
        <input type="text" pInputText formControlName="Date" />
    
        <label for="dateEnd">Date End:</label>
        <input type="text" pInputText formControlName="DateEnd" />
    
        <label for="phone_org">Phone_org:</label>
        <input type="text" pInputText formControlName="Phone_org" />
    
        <label for="id_Org_Admin">Id_Org_Admin:</label>
        <input type="text" pInputText formControlName="Id_Org_Admin" />
    
        <label for="executed">Executed:</label>
        <input type="text" pInputText formControlName="Executed" />
    
        <label for="id_User">Id_User:</label>
        <input type="text" pInputText formControlName="Id_User" />
    
        <label for="executed_Time">Executed_Time:</label>
        <input type="text" pInputText formControlName="Executed_Time" />
    
        <label for="notes">Notes:</label>
        <input type="text" pInputText formControlName="Notes" />
    
        <button type="submit" pButton label="Submit"></button>
    </form>
    

</div>